

  li{
    text-decoration: none;
    box-sizing: border-box;
    display: inherit;
  }
  body {
    background-color: #efefef;
    box-sizing: border-box;
  }
  .socialMedia {
    height: 30vh;
    width: 100%;
    text-align: right;
  }
  .socialMediaPages {
    height: 2vh;
    float: right;
  }
  img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
  }
  .main {
    font-size: 2em;
    text-align: center;
    color: #A19710;
    background-color: #076B8C;
    padding-top: 35px;
    height: 15vh;
    margin: 0px, 30px, 0px, 30px;
    font-family: ailerons;
    position: relative;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50vh;

  }
    a {
    height: 5vh;
    font-family: ailerons;
    /*padding-top: 20vh;*/
    color: #A19710;
    font-size: 1.2em;
    margin-top: 20vh;
    text-decoration: none;

  }
  #containerAbout{
    height: 100vh;
    margin: 2vw 5vh 2vw 20vh;
  }

   #bio{
     background-color: #A19710;
     opacity: .4;
     box-sizing: border-box;
     width: 40vw;
     height: 70vh;
     position: absolute;
     margin-top: 15vh;
     border-radius: 25px;
     /*for firefox browser*/
     -moz-border-radius: 25px;

    }

    .aboutInfo:hover{
      background-color: #efefef;
        }
   .aboutInfo{
     position: absolute;
     right: 30vh;
     margin-top: 18vh;
     font-family: ubuntu;
     color: black;
     width: 60vw;
     padding: 15px 15px;
     line-height: 20px;
     box-shadow: 10px 0 5px grey;
   }

   p.picInfo{
     font-family: ubuntu;
     color: #efefef;
     font-size: .8rem;
     background-color: #076B8C;
     height: 6vh;
     padding: 2vh;
     margin-left: 35.2vw;
     padding-left: 15px;
     position: absolute;
     margin-top: 15vh;
     text-align: center;
   }
   p.finalProjectInfo{
     font-family: ubuntu;
     color: #efefef;
     font-size: .8rem;
     background-color: #076B8C;
     position: absolute;
     margin: 15vh 0 0 38.6vw;
     height: 6vh;
     padding: 2vh;
     text-align: center;

   }
   .menuPages{
     font-size: 1em;
     height: 3vh;
     padding-left: 1vw;
   }
   .profPicture{
     height: 15vh;
     width: 15vh;
     float: right;
   }
   #portfolio{
     height: 100vh;
     box-sizing: border-box;
     position: relative;
     padding: 20px;
   }

   .projects{
     height: 50vh;
     /*margin-top: 0;
     margin-left: 0;*/
   }
   .finalprojects{
     height: 50vh;
     margin: 10px 0;

   }
   .projects img{
     height: 45vh;
     width: 35vw;

   }
   .finalprojects img{
     height: 45vh;
     width: 20vw;
     float: right;
     border-radius: 30px;
   }
   footer{
      height: 100vh;
      padding-top: 20vh;

   }
   #contact-form{
     padding-top: 20vh;
     height: 60vh;
     background-color: #076B8C;
     font-family: ubuntu;
     color: #efefef;
     margin: 5vh 5vw;
     padding: 3vh 3vw;
     font-size: 1.3em;
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
  }
    #contact-form input[type="text"],
    #contact-form input[type="email"],
    #contact-form input[type="tel"],
    #contact-form input[type="url"],
    #contact-form textarea {
    width:100%;
    box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
  }

  @media only screen and (max-width: 460px) {
    p.finalProjectInfo {
      font-family: ubuntu;
      color: #efefef;
      font-size: .6rem;
      background-color: #076B8C;
      position: absolute;
      margin: 3vh 35vw 0 0;
      height: 10vh;
      padding: 2vh;
      text-align: left;
    }
    p.picInfo{
      font-family: ubuntu;
      color: #efefef;
      font-size: .6rem;
      background-color: #076B8C;
      padding: 3vh;
      position: absolute;
      margin-top: 22vh;
      text-align: left;
    }
    .finalprojects img{
      height: 25vh;
      width: 25vw;
      float: right;
      border-radius: 15px;
    }
    .projects img{
      height: 25vh;
      width: 35vw;
      padding-top: 22vh;
    }
    #containerAbout{
      margin: 2vw 5vh;
      margin-top: 0;
      height: auto;
    }
    .aboutInfo{
      position: absolute;
      right: 10vh;
      margin-top: 16vh;
      width: inherit;
      height: auto;
      font-family: ubuntu;
      color: black;
      font-size: 10px;
      box-shadow: 10px 0 5px grey;
      line-height: 10px;
      padding: 5px;
    }
    #bio{
      left: 0;
      height: 0;
    }
    .main{
      font-size: 1em;
      text-align: center;
    }
    #containerAbout{
      height: 60vh;
    }


}
